body {

    font-weight: bold;

    /*background-image:url("..hatter2.jpg") ;
    background-repeat: no-repeat;
    background-position: start top;*/

}

.doboz{
    background-color: rgba(66, 63, 63, 0.747);
    color: rgb(190, 229, 195);
    border-top: 3px green  solid;
    border-right:3px green  solid;
    border-left: 3px green solid;
    border-bottom: 3px black solid;

    margin: auto; 
}

.doboz h1 {
    text-decoration: underline;


}